<!DOCTYPE html>
<html>
<head>
	<title>Confirm Delete #{{ product.id }}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
</head>
<body>
	<div class="w-100 pt-1 d-flex justify-content-end">
		<div class="pr-4">Welcome, <a href="/accounts/profile">{{ user }}</a></div>
		<div class="pr-4"><a href="/accounts/logout">Logout</a></div>
	</div>

	<form method="POST" class="ml-4">
		{% csrf_token %}
		<h2>Are you sure you want to remove {{ product.description }}?</h2>
		<button type="submit">Confirm</button>
	</form>
</body>
</html>