<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
</head>
<body>
	<h1 style="text-align: center;">Login</h1>

	<div class="w-100 d-flex justify-content-center">
		<form method="post" class="ml-5">
		    {% csrf_token %}
		    
			<div>
			    <td>{{ form.username.label_tag }}</td>
			    <td>{{ form.username }}</td>
		  	</div>
		  	<div>
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
		  	</div>

		  	<div>
		    	<input type="submit" value="login" />
		    	<a href="{% url 'register' %}" class="pl-4 ml-2">Don't have an account?</a>
		  	</div>
	  	</form>
  	</div>
</body>
</html>